:root{
    --color1:#F8AB4A;
    --color2:#D98041;
    --color3:#F07E53;
    --color4:#D95341;
    --color5:#e74553;
}
@font-face {
    font-family: 'Squid-Gamu';
    src: url('./assets/Game Of Squids.ttf');
}
::-webkit-scrollbar{
    margin:0;
    height:16px;
    width:16px;
    background:#d4d4d4;
    border-radius:2em;
}
::-webkit-scrollbar-thumb{
    background:var(--color3);
    -webkit-border-radius:1ex;
    -webkit-box-shadow:0 1px 2px var(--color5);
}
::-webkit-scrollbar-corner{
    background:#000;
}
body{
    margin:0;
    color:white;
    font-family: 'Squid-Gamu',sans-serif;
    overflow:hidden;
}
header{
    background: url(./assets/logo.gif);
    background-size: 9em;
    background-repeat: no-repeat;
    background-position: top;
    background-color: #0c0c0c;
    text-align: center;
    height:6.3em;
}
figure{
    margin: auto 0;
    border-radius: 2em;
    border:3px solid var(--color5);
}
.bille{
    animation: 1s infinite rotate ease-in-out;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 50%;
    height: 8em;
    width: 8em;
    background-color: wheat;
}
article figure:nth-child(2) img{
    animation:1s infinite rotateReverse ease-in-out;
}
article figure:nth-child(4) img{
    animation:1s infinite rotateReverse ease-in-out;
}
article figure:nth-child(6) img{
    animation:1s infinite rotateReverse ease-in-out;
}
article figure:nth-child(8) img{
    animation:1s infinite rotateReverse ease-in-out;
}
article figure:nth-child(10) img{
    animation:1s infinite rotateReverse ease-in-out;
}
article figure:nth-child(12) img{
    animation:1s infinite rotateReverse ease-in-out;
}
figcaption{
    position: relative;
    cursor: pointer;
    bottom: 5.7em;
    padding: 0.5em 1em 1em 1em;
    left: 30%;
    background: black;
    border: 2px solid grey;
    width: 1em;
    height: 1em;
    border-radius: 2em;
}
figcaption:hover,figure:hover figcaption{
    border:2px solid var(--color5);
}
h1{
    margin: 0;
    padding: 1em 0;
    position:absolute;
    z-index: 5;
    margin-top:13.7em;
    text-shadow: 2px 1px 2px rgb(247, 63, 88), 0 0 1em rgb(44, 109, 250), 0 0 0.2em rgb(0, 255, 179);
    pointer-events: none;
}
section{
    position: absolute;
    justify-content: center;
    background: url(assets/squid-game-unit.jpg);
    background-size: cover;
    background-color: var(--color3);
    display: flex;
    bottom: 0;
    top: 6.3em;
    right: 0;
    left: 0;
}
article{
    opacity: .9;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin:1em;
    padding:1em;
    text-align: center;
    border-radius: 2em;
    width:50%;
    background-color: var(--color5);
    overflow:auto;
    overflow-x: hidden;
}
article h2{
    width:100%;
}
article button{
    color:white;
    background-color: rgba(66, 66, 66, 0.753);
    border-radius: 2em;
    padding:.5em;
    height:3em;
}
article button:hover{
    border:2px solid var(--color3);
}
.startButton,span{
    position: absolute;
    cursor:pointer;
    top: 0;
    bottom: 0;
    z-index: 1;
    height:50em;
    width: 50em;
    background:linear-gradient(135deg, rgba(238,174,202,1) 49%, rgba(148,187,233,1) 50%);
    justify-content: center;
    border-radius: 50%;
    margin: 3.5em;
    border:20px ridge var(--color5);
}
span{
    font-size: 4em;
    border-radius: 50%;
    margin: 2.9em;
    z-index: 2;
    pointer-events: none;
    border: none;
    width:2em;
    height:2em;
    padding:2em;
}
@keyframes rotate{
    0%,10%{
        transform: rotate(0deg);
    }
    90%,100%{
        transform: rotate(360deg);
    }
}
@keyframes rotateReverse{
    0%,10%{
        -webkit-transform: rotate(0deg);
    }
    90%,100%{
        -webkit-transform: rotate(-360deg);
    }
}
.startButton:hover{
    animation:2s infinite rotate;
}
span{
    animation:2s infinite rotateReverse;
}
.box img{
    border-radius: 2em;
}
.reverse{
    flex-direction: row-reverse;
}
.empty{
    display:none;
}
.full{
    width:100%;
}