:root{
    --color1:#F8AB4A;
    --color2:#D98041;
    --color3:#F07E53;
    --color4:#D95341;
    --color5:#e74553;
}
body{
    margin:0;
    color:white;
    font-family: sans-serif;
    overflow:hidden;
}
header{
    background: url(./assets/logo.gif);
    background-size: 9em;
    background-repeat: no-repeat;
    background-position: top;
    background-color: #0c0c0c;
    text-align: center;
    height:6.3em;
}
figure{
    margin: auto 0;
    border-radius: 2em;
    border:3px solid var(--color5);
}
figure img{
    animation: 1s infinite rotate;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 50%;
    height: 8em;
    width: 8em;
    background-color: wheat;
}
figcaption{
    position: relative;
    cursor: pointer;
    bottom: 5.7em;
    padding: 1em;
    left: 32%;
    background:black;
    border:2px solid grey;
    width:1em;
    border-radius: 2em;
}
figcaption:hover,figure:hover figcaption{
    border:2px solid var(--color5);
}
h1{
    margin: 0;
    padding: 1em 0;
}
section{
    position: absolute;
    justify-content: center;
    background: url(assets/squid-game-unit.jpg);
    background-size: cover;
    background-color: var(--color3);
    display: flex;
    bottom: 0;
    top: 6.3em;
    right: 0;
    left: 0;
}
article{
    opacity: .9;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin:1em;
    padding:1em;
    text-align: center;
    border-radius: 2em;
    width:50%;
    background-color: var(--color5);
    overflow:auto;
}
article h2{
    width:100%;
}
article button{
    color:white;
    background-color: rgba(66, 66, 66, 0.753);
    border-radius: 2em;
    padding:.5em;
    height:3em;
}
article button:hover{
    border:2px solid var(--color3);
}
.startButton{
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: 50%;
    margin: 5%;
    background:radial-gradient(circle, rgba(255,0,0,1) 0%, rgb(255, 129, 56) 90%, rgba(252,124,69,1) 100%);
    justify-content: center;
    border-radius: 50%;
    border:20px ridge var(--color5);
}
span{
    font-size:4em;
    position: absolute;
    padding:2em;
    background:blue;
    border-radius: 2em;
    margin:27%;
    z-index:2;
}
@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}
.startButton:hover{
    animation:1s infinite rotate;
}
.box img{
    border-radius: 2em;
}
.reverse{
    flex-direction: row-reverse;
}
.empty{
    display:none;
}
