/*COULEURS*/
:root{
    --color1:#F8AB4A;
    --color2:#D98041;
    --color3:#F07E53;
    --color4:#D95341;
    --color5:#d74552;
}
/*FONTS*/
@font-face {
    font-family: 'Squid-Gamu';
    src: url('./assets/Game Of Squids.ttf');
}
/*SCROLLBARS*/
::-webkit-scrollbar{
    margin:0;
    height:16px;
    width:16px;
    background:#d4d4d4;
    border-radius:2em;
}
::-webkit-scrollbar-thumb{
    background:var(--color3);
    -webkit-border-radius:1ex;
    -webkit-box-shadow:0 1px 2px var(--color5);
}
::-webkit-scrollbar-corner{
    background:#000;
}
/*BASE*/
body{
    transition:1s all;
    margin:0;
    color:white;
    font-family: 'Squid-Gamu',sans-serif;
    overflow:hidden;
}
/*FOND*/
header{
    background: url(./assets/logo.gif);
    background-size: 9em;
    background-repeat: no-repeat;
    background-position: top;
    background-color: #0c0c0c;
    text-align: center;
    height:6.3em;
}
/***********************/
/******BOUTON PLAY*****/
/*********************/
.startButton,span{
    position: absolute;
    cursor:pointer;
    top: 0;
    bottom: 0;
    z-index: 1;
    height:50em;
    width: 50em;
    background:linear-gradient(135deg, rgb(160, 32, 87) 49%, rgb(20, 66, 119) 50%);
    justify-content: center;
    border-radius: 50%;
    margin: 3.5em;
    border:20px ridge var(--color5);
}
.start{
    position: absolute;
    justify-content: center;
    display: flex;
    bottom:0;
    top:0;
    left:0;
    right:0;
    text-align: center;
    background: rgba(63, 63, 63, 0.9);
    background-position: center;
}
span{
    font-size: 4em;
    border-radius: 50%;
    margin: 2.9em;
    z-index: 2;
    pointer-events: none;
    border: none;
    width:2em;
    height:2em;
    padding:2em;
}
input{
    font-family: 'Squid-Gamu',sans-serif;
    cursor: pointer;
    margin:27em;
    width:10em;
    height:4em;
    background:rgba(63, 63, 63, 0.9);
    border-radius: 2em;
    padding:1em;
    text-shadow: 2px 1px 2px rgb(247, 63, 88), 0 0 1em rgb(44, 109, 250), 0 0 0.2em rgb(0, 255, 179);
    color:white;
}
input:hover{
    background:linear-gradient(135deg, var(--color5),var(--color1));
}
.select{
    background:linear-gradient(135deg, var(--color5),var(--color1));
}
/************************/
/********ARTICLE********/
/**********************/
article figure{
    margin: auto 0;
    border-radius: 2em;
    border:3px solid var(--color5);
}
/************************************/
/*************BILLES****************/
/**********************************/
.bille{
    animation: 1s infinite rotate ease-in-out forwards;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 50%;
    height: 8em;
    width: 8em;
    background-color: wheat;
    opacity: 1;
}
article figure:nth-child(even) .bille{
    animation: 1s infinite rotateReverse ease-in-out forwards;
}
.anim1{
    animation: .6s infinite rotate ease-in-out forwards;
}
article figure:nth-child(even) .anim1{
    animation: .6s infinite rotateReverse ease-in-out forwards;
}
.anim2{
    animation: .3s infinite rotate ease-in-out forwards;
}
article figure:nth-child(even) .anim2{
    animation: .3s infinite rotateReverse ease-in-out forwards;
}
.anim3{
    animation: .1s infinite rotate ease-in-out forwards;
}
article figure:nth-child(even) .anim3{
    animation: .1s infinite rotateReverse ease-in-out forwards;
}
.anim4{
    animation: 4s infinite rotate ease-in-out forwards;
}
article figure:nth-child(even) .anim4{
    animation: 4s infinite rotateReverse ease-in-out forwards;
}
/*****************************/
article figcaption{
    position: relative;
    cursor: pointer;
    bottom: 5.7em;
    padding: 0.5em 1em 1em 1em;
    left: 30%;
    background: black;
    border: 2px solid grey;
    width: 1em;
    height: 1em;
    border-radius: 2em;
}
article figcaption:hover,article figure:hover figcaption{
    border:2px solid var(--color5);
}
h1{
    padding: 1em 0;
    position:absolute;
    z-index: 5;
    margin:14em;
    text-shadow: 2px 1px 2px rgb(247, 63, 88), 0 0 1em rgb(44, 109, 250), 0 0 0.2em rgb(0, 255, 179);
    pointer-events: none;
}
section{
    position: absolute;
    justify-content: center;
    background: url(assets/squid-game-unit.jpg);
    background-size: cover;
    background-color: var(--color3);
    display: flex;
    bottom: 0;
    top: 6.3em;
    right: 0;
    left: 0;
}
article{
    opacity: .9;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin:1em;
    padding:1em;
    text-align: center;
    border-radius: 2em;
    width:50%;
    background-color: var(--color5);
    overflow:auto;
    overflow-x: hidden;
}
article h2{
    width:100%;
}
article button{
    color:white;
    cursor:pointer;
    background-color: rgba(66, 66, 66, 0.753);
    border-radius: 2em;
    padding:.5em;
    height:3em;
}
article button:hover{
    border:2px solid var(--color3);
}
@keyframes rotate{
    0%,10%{
        transform: rotate(0deg);
    }
    90%,100%{
        transform: rotate(360deg);
    }
}
@keyframes rotateReverse{
    0%,10%{
        -webkit-transform: rotate(0deg);
    }
    90%,100%{
        -webkit-transform: rotate(-360deg);
    }
}
.startButton:hover{
    animation:2s infinite rotate;
}
span{
    animation:2s infinite rotateReverse;
}
.box img{
    border-radius: 2em;
    background: white;
}
.reverse{
    flex-direction: row-reverse;
}
.empty{
    display:none;
}
.full{
    width:100%;
}
audio{
    position: relative;
    bottom: 1.2em;
    right: 1em;
    padding: 1em;
}
.audio{
    position:absolute;
    top:-5em;
    left:1em;
    overflow: hidden;
    width: 3em;
    background: white;
    height: 3em;
    border-radius: 50%;
    z-index:7;
}
.over{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index: 5;
}
.over figure,.over img{
    margin:0;
    width: 100%;
    height: -webkit-fill-available;
}
.over figcaption{
    left:40%;
    top:1.5em;
    position: absolute;
    z-index:6;
}
.psy{
    position: absolute;
    width: 4em;
    right: 0;
    top: -6em;
    background-color: white;
    border-radius: 2em;
    z-index: 16;
    height: 4em;
    margin: 1em;
    overflow: hidden;
}
.psy img{
    width: 100%;
}