:root{
    --color1:#F8AB4A;
    --color2:#D98041;
    --color3:#F07E53;
    --color4:#D95341;
    --color5:#F84A59;
}
body{
    margin:0;
    color:white;
    font-family: sans-serif;
}
figure{
    margin: auto 0;
    border-radius: 2em;
    border:3px solid var(--color5);
}
figure img{
    cursor:pointer;
    border:2px solid white;
    border-radius: 50%;
    background-color: wheat;
}
figcaption{
    position: relative;
    cursor: pointer;
    bottom: 5.7em;
    padding: 1em;
    left: 32%;
    background:black;
    border:2px solid grey;
    width:1em;
    border-radius: 2em;
}
figcaption:hover,figure:hover figcaption{
    border:2px solid coral;
}
h1{
    margin: 0;
    padding: 1em 0;
}
header{
    text-align: center;
    background-color: var(--color1);
}
section{
    position: absolute;
    background: url(assets/squid-game-unit.jpg);
    background-size: cover;
    background-color: var(--color3);
    display: flex;
    bottom: 0;
    top: 6.3em;
    right: 0;
    left: 0;
}
article{
    opacity: .9;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin:1em;
    padding:1em;
    text-align: center;
    border-radius: 2em;
    width:50%;
    background-color: var(--color5);
}
article h2{
    width:100%;
}
article button{
    color:white;
    background-color: rgba(66, 66, 66, 0.753);
    border-radius: 2em;
    padding:.5em;
}